<%- include('./partials/header') %>

<div class="w-full h-[70vh] my-[5vw]">
  <div class="border border-2"></div>
  <nav class="flex justify-between items-center">
    <h1 class="text-6xl col-start-1 ml-[1vw]">Admin Panel</h1>
    <div class="flex gap-7 text-2xl mr-12">
      <a href="/">Home</a>
      <a href="/">Products</a>
      <a href="/">Cart</a>
      <a href="/">My Account</a>
    </div>
  </nav>
  <div class="border border-2"></div>
  <div class="flex gap-[8vw] w-full">
    <div class="pt-10 flex flex-col pl-10 w-2/12">
      <a class="text-2xl" href="/">All Products</a>
      <a class="text-2xl" href="/">Create New Product</a>
    </div>
    <div class="h-screen pl-10 w-10/12">
      <div
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 container gap-2 mx-auto p-2"
      >
        <% cards.forEach(card => { %>
        <div
          class="max-w-sm mx-auto my-4 bg-white rounded-lg shadow-md overflow-hidden"
        >
          <img
            class="w-full h-48 object-cover"
            src="<%= card.image %>"
            alt="Card Image"
          />
          <div class="p-6">
            <h2 class="text-xl font-semibold text-gray-800">
              <%= card.title %>
            </h2>
            <p class="mt-2 text-gray-600"><%= card.description %></p>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
  </div>
</div>

<%- include('./partials/footer') %>
